@using DotWeb.CommSetup
@using ProcCore.Business.DB0
@{
    var LastLoginDateTime = Request.Cookies[CommWebSetup.Cookie_LastLogin];
    LastLoginDateTime = new HttpCookie(CommWebSetup.Cookie_LastLogin, DateTime.Now.ToString());

    var Cookie_UserName = Request.Cookies[CommWebSetup.Cookie_UserName];
}
@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Res.System_Name</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/css/sys.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    @RenderSection("IncludeCSS", false)
</head>
<body>

    <div id="wrapper">
        <header id="header">
            <h1 class="logo">
                <a href="~/Active/Home" title="@Resources.Res.Info_Home" tabindex="-1">@Resources.Res.System_Name</a>
            </h1>
            <nav id="top-nav">
                <h2 class="hidden">基本設定</h2>
                <ul class="nav-menu">
                    <li>
                        <i class="ti-user"></i>登入身分: <span class="name">@Cookie_UserName.Value</span>
                    </li>
                    <li>
                        <a href="~/Login/Logout"><i class="ti-power-off"></i>@Resources.Res.Button_Logout</a>
                    </li>
                </ul>
            </nav>
        </header><!-- header //-->

        <main id="main"><div class="wrap">

            <aside id="sidebar">
                @RenderSection("sidebar", false)
            </aside><!-- sidebar //-->

            <div id="content">
                <ul class="breadcrumb">
                    <li><a href="~/Active/Home"><i class="ti-home"></i> @Resources.Res.System_Name</a></li>
                    @RenderSection("breadCrumb", required: false)
                </ul>

                <div id="page_content"></div>

            </div><!-- content //-->

        </div></main><!-- main //-->

    </div><!-- wrapper //-->

    @* <footer id="footer">
        <a href="#content" class="goTop"><i class="fa-angle-double-up"></i></a>
    </footer><!-- footer //--> *@

    <script type="text/javascript">
        var gb_approot = '@Url.Content("~")';
    </script>
    @RenderSection("IncludeScript", false)

</body>
</html>
