@using DotWeb.CommSetup
@using ProcCore.Business.DB0
@{
    var LastLoginDateTime = Request.Cookies[CommWebSetup.Cookie_LastLogin];
    LastLoginDateTime = new HttpCookie(CommWebSetup.Cookie_LastLogin, DateTime.Now.ToString());

    var Cookie_UserName = Request.Cookies[CommWebSetup.Cookie_UserName];
}
@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Res.System_Name</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/css/sys.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/fontAwesome/font-awesome.css" rel="stylesheet" />
    <link href="~/_Code/CSS/css/toastr.css" rel="stylesheet" />
    @RenderSection("IncludeCSS", false)
</head>
<body class="@ViewBag.BodyClass">

    <div id="wrapper">
        @if (ViewBag.IsFirstPage)
        { }
        else
        {
            <header id="header" class="navbar navbar-fixed-top navbar-dark bg-primary">
                <h1 class="logo">
                    <a class="navbar-brand" href="~/Active/Home" title="@Resources.Res.Info_Home" tabindex="-1">@Resources.Res.System_Name</a>
                </h1>
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <span class="nav-link">
                            <i class="fa-user"></i> <span>登入身分:</span> @Cookie_UserName.Value
                        </span>
                    </li>
                    <li class="nav-item bg-warning">
                        <a href="~/Active/Home" class="nav-link">
                            <i class="fa-home"></i> 回首頁
                        </a>
                    </li>
                    <li class="nav-item bg-success">
                        <a href="~/Login/Logout" class="nav-link">
                            <i class="fa-power-off"></i> @Resources.Res.Button_Logout
                        </a>
                    </li>
                </ul>
            </header><!-- header //-->
        }

        <main id="main">

            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                <div id="content">
                    @RenderBody()
                    <div id="page_content"></div>
                </div><!-- content //-->
                <div id="sidebar">
                    @RenderSection("sidebar", false)
                </div><!-- sidebar //-->
            }

        </main><!-- main //-->

    </div><!-- wrapper //-->

    <footer id="footer">
        <p class="copyright text-muted">
            <span>Powered By <a href="http://www.jcin.com.tw" target="new">JCIN Information Co.</a></span>
        </p>
    </footer><!-- footer //-->

    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>

    <script type="text/javascript">
        var gb_approot = '@Url.Content("~")';
    </script>

    @RenderSection("IncludeScript", false)

    <script src="~/Content/js/bootstrap/util.js"></script>
    <script src="~/Content/js/bootstrap/collapse.js"></script>

</body>
</html>
