@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
}
@section IncludeCSS{
    <link rel="stylesheet" href="~/Content/css/vendor/bootstrap-datetimepicker-build.css" />
}
@section IncludeScript{
    @Html.Partial("Manage/JSGlobalVar")
    <script src="~/Scripts/build/comminc.js"></script>
    <script src="~/Scripts/app/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/build/func/m-R01_DailyMeal.js"></script>
    <script>
        var getRootDOM = document.getElementById('page_content');
        var rootParm = { MenuName: '@ViewBag.MenuName', Caption: '@ViewBag.Caption', IconClass: 'fa-print' };
        var compObject = React.render(React.createElement(GirdForm, rootParm), getRootDOM);
    </script>
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}
<ul class="breadcrumb">
    <li><a href="~/Active/Report/DailyMeal"><i class="fa-print"></i> @ViewBag.MenuName</a></li>
    <li>@ViewBag.Caption</li>
</ul>