@using ProcCore.NetExtension;
@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
    ViewBag.BodyClass = "Login";
    ViewBag.IsFirstPage = true;
}
@section IncludeScript{
    <script>
        var ver_warn = '@Html.Lang("ver_warn")';
        var lab_input_email = '@Html.Lang("lab_input_email")';
        var vial_img_path = '@Url.Content("~/_Code/Ashx/ValidateCode.ashx")';
        var path_lang = '@Url.Action("ajax_Lang")';
        var ajax_ForgotPassword = '@Url.Action("ajax_ForgotPassword")';
        var ajax_Login = '@Url.Action("ajax_Login")';
        var debug_account = '@ViewData["username"]';
        var debug_password = '@ViewData["password"]';
        var Info_ForgetMial_Success = '@Html.Lang("Info_ForgetMial_Success")';
        var gb_approot = '@Url.Content("~")';
    </script>
    <script src="~/Scripts/build/comminc.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/func/m-login.js?v=@CommWebSetup.CacheVer"></script>
    <script>
        var rootParm = {
            systemName: '系統登入',
            webRoot: '@Url.Content("~")'
        };
        var getRootDOM = document.getElementById('login-box');
        var Comp = React.render(React.createElement(LoginForm, rootParm), getRootDOM);
    </script>
}

<h1 class="logo">
    <span class="name text-secondary">@Resources.Res.System_Name</span>Web Manager
</h1>
<p class="copyright text-primary">@Html.Lang("copyright") @ViewBag.Year</p>
<div class="login-box" id="login-box"></div>